<div *ngIf="currentlyEditing != projectToDisplay; then defaultBlock; else editBlock"></div>
<ng-template #defaultBlock>
  <div class="jumbotron">
    <h1>{{projectToDisplay.title}}</h1>
    <h5>By: {{projectToDisplay.creator}}</h5>
    <h5>Current Course: {{projectToDisplay.course}}</h5>
    <h5>Project Stage: {{projectToDisplay.stage}}</h5>
    <h5>Description: {{projectToDisplay.description}}</h5>
    <h5>Participants: {{projectToDisplay.participants}}</h5>
  </div>
  <button class="btn btn-primary" (click)="activateEdit(projectToDisplay)">Edit</button>
</ng-template>
<ng-template #editBlock>
  <div class="jumbotron">
    <app-edit-project [selectedProject]="projectToDisplay" (doneSender)="clearEdit()"></app-edit-project>
  </div>
</ng-template>
